@import '../../styles/mixins';
@import '../../styles/variables';

.tabs {
  display: flex;

  @include small {
    flex-wrap: wrap;
  }
}

.radio[type="radio"] {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;

  &:checked + .tabItem {
    background-color: $primary-color;
    color: #fff;
  }
}


.tabItem {
  flex-grow: 1;
  border: 1px solid #dfe5ec;
  background-color: #fff;
  color: $dark-text;
  composes: btn from '../App/App.module.scss';
  text-align: center;
  &:first-of-type {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    border-right: none;

    @include small {
      border-radius: 5px;
      border: 1px solid #dfe5ec;
    }
  }
  &:last-of-type {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    border-left: none;

    @include small {
      margin-bottom: 0;
      border-radius: 5px;
      border: 1px solid #dfe5ec;
    }
  }

  //&:hover,
  //&:focus,
  //&.tabActive {
  //  background-color: $primary-color;
  //  color: #fff;
  //}

  @include small {
    margin-bottom: 10px;
  }
}


